*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #effdff;
    font-weight: 400;
    color: #084c61;
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: "Playfair Display", serif;
}
header{
    display: flex;
    background-color: #15737d;
    color:#effdff;
    font-weight: 700;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;   
}
header img {
    border-radius: 10%;
    box-shadow: 1px 1px 10px #effdff;
    margin: 0 20px;    
}
nav{
    font-family: 'Playfair Display', serif;
    background-color: #084c61;
}
#menu{
    font-size: 2rem;
    background: none;
    border: none;
    color:#effdff;
    cursor: pointer;
    width: 44px;
    padding: .25rem 2vw;
    margin-left: 90%;
}
#menu::before{
    content: "\2630";
}

#menu.open::before{
    content:"\2716";
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav li{
    border: 1px solid #effdff;
}

nav li:hover {
    background-color: rgba(255,255,255,0.2);
}

ul.navigation li a{
    display: block;
    color:  #effdff;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
ul.navigation{
    display: none;
    list-style-type: none;
}
ul.navigation.open{
    display: block;
}
.active{
    background-color:#ffc857;
}
li.active.link a{
    color: #323031;
    font-weight: 700;
}
.hero{
    position: relative;
}
#hero-image{
    width: 100%;
    height: auto;
}
.hero-message{
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
    background-color: #323031;
    color: #effdff;
    text-align: center;
    padding: 10px;
}
#hero-button{
    background-color:#084c61;
    padding: 10px 25px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #effdff;
}
#hero-button b{
    color: #effdff;
    text-decoration: none;
}
.top-cards{
    display: block;
}
.small-cards, .main-directory > .title{
    display: block;
    align-items: center;
    justify-items: center;
    margin: 20px;   
    text-align: center; 
    border-bottom: 3px solid #084c61;  
}
.small-cards h2{
    box-shadow: 1px 1px 5px #effdff;
    
}
.small-cards p{
    padding: 10px;
}
.small-cards img{
    margin: 10px;
}
#weather-card, #next-event-card {
    background-color: #084c61;
    color: #effdff;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    width: 75%; 
    padding-bottom: .1rem;
}

.weather{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: #effdff;
    color: #084c61;
    margin: 10px;
}
.forecast{
    display: block;
    padding: 10px;
    font-size: 1rem;
    background-color: #effdff;
    color: #084c61;
    margin: 10px
}
#day1, #day2, #day3{
    display: block;
}

#day1 p, #day2 p, #day3 p{
    padding: 0;
    padding-left: 10px;
}

#day1 h3, #day2 h3, #day3 h3{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}

.next-content{
    display: block;
    align-items: center;
    justify-content:space-evenly;
}
.next-content a{
    color: #effdff;
}
.next-content img{
    width: 80%;
    height: auto;
    border-radius: 5px;
}
.next-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;
}
.business-cards{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color:#323031;
    background-color:#15737d;
    border-radius: 5px;
}

.slide-card img{
    width: 80%;
    height: auto; 
    border-radius: 5px;
    margin-top: .5rem; 
}
.slide-card>.text{
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

#darkBtn{
    position: absolute;
    top: 1rem;
    right: .5rem;
    width: 24px;
    cursor: pointer;
}

footer{
    display: block;
    background-color: #15737d;
    color: #effdff;
    padding: 20px;
    text-align: center;
}
.main-cards{
    display: block;
    padding-top: 1.5rem;
    border-top: 3px solid #084c61;
    margin:1.5rem;
}
.main-cards h2{
    padding: 5px;
    margin-left: 1rem;
}

.community-cards, .events-cards{
    display:block;   
}
.community-card, .event-card{
    margin: 10px;
    box-shadow: 1px 1px 5px #effdff;
    background-color:#ffc857;    
}
.event-card{
    background-color: #15737d;
    color: #effdff;

}
.community-card img, .event-card img{
    width: 100%;
}
.community-card h4, .event-card h4{
    text-align: center;
    padding: 5px;
}

.sidebar, .pictures{
    display: grid;
    grid-template-columns: 1fr;
}

.welcome-message{
    grid-row: 1/2;
    background-color: #ffc857;
    color:#323031;
    margin: 20px auto;
    width: 80%; 
    text-align: center;
    padding: 20px;
}


.demographics{
    grid-row: 3/6;
    background-color: #084c61;
    color: #effdff;
    margin: 20px auto;
    width: 75%;
    display: block;
}

.population, .employment, .mayor, .gdp, .education{
    margin: 0.7rem;
    width: auto;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: 0.5rem solid #effdff;
}
.demographics h5{
    font-size: 1.8rem;
    margin-bottom: 10px;
    border-bottom:1px solid #ffc857;
}
.pictures{
    margin-right: 20px;
}

.pictures img{
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}


/* ---------------JOIN - FORM------------------*/

.join-main{
    display:block;
    margin: .5rem;
}
.form{
    display: block;
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid #084c61;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    color: #084c61;
    margin: 0 1rem;
    padding: 0 .5rem;
}

.top, label.top input, .top textarea{
    display: block;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 100%;
    max-width: 20rem;
}
label.top input{
    border: 1px solid #084c61;
    border-radius: 10px;
    padding: .75rem;
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: #15737d solid 4px;
}

form label.top input:focus{
    outline-color: #ffc857;
}

.sbs{
    display: block;
    margin-bottom: 5px;
    padding: .75rem 0;
}

.description{
    display: block;
    border: 1px solid #15737d;
    border-radius: 10px;
    margin-top: 5px;
    max-width: 20rem;
}
.description:focus{
    outline-color: #ffc857;
}

form input.submitButton{
    background-color: #ffc857;
    color: #323031;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}



/* ---------------table------------------*/
.benefits{
    display: block;
    margin:0;
}

.table h3{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
} 

.table table{
    border: 2px solid #084c61;
    margin: 5px;
    border-collapse:collapse;
    width: auto;
    font-size: .5rem;
}

thead{
    background-color: #15737d;
    color: #effdff;
}

thead th{
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    word-wrap: break-word;
}
tbody th{
    background-color: #15737d;
    color: #effdff;
    padding: .5rem;
    margin: .5rem; 
}

tbody th, tbody td{
    text-align: center;
    border: 2px solid #084c61;
    word-wrap: break-word;
}

tr:nth-child(even) td {
    background-color: #ffc857;
}
  
tr:nth-child(odd) td {
    background-color: #effdff;
}

thead > :nth-child(2) > th:first-child{
    border-top: 2px solid #15737d;
}
thead > :nth-child(2) > :not(th:first-child){
    border: 2px solid #084c61;
}

/* ------ DIRECTORY ----- */
.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.directory-cards section{
    display: block;
    margin: 1rem;
    text-align: center;
    background-color: #15737d;
    border: 1px solid #084c61;
    border-radius: 10px;
    box-shadow: 1px 2px 20px #084c61;
}
.directory-cards div{
    margin-bottom: 1rem;
}
.directory-cards p, .directory-cards a{
    color: #effdff;
    padding: .5rem;
    font-weight: 700;
    font-size: 20px;
}
.directory-cards a{
    text-decoration: underline;
}

.grid img{
  width: 90%;
  height: auto;
  padding: 1rem;
  border-radius: 25px;
}

.directory-cards section:hover{
    opacity: .8;
    background-color: #084c61;    
}

.menu{
    background-color: #084c61;
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.menu button{
    padding: .5rem;
    margin: .5rem;
    background-color: #ffc857;
    border-radius: 10px;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section > div{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0.25rem;
}

.list section{
	margin: 1rem;
    text-align: left;
}

.list section img {
	display: none;
}

.list section > div > a{
    display: block;
    word-break: break-all;
}

.list section:nth-child(even){
    background-color: #ffc857;
    border-color: #15737d;
}
.list section:nth-child(even) p, .list section:nth-child(even) a{
    color: #323031;
}


/* POP UP */

.pop-up{
    position: fixed;
    left: 20%;
    right: 20%;
    border: 2px solid #15737d;
    background-color: #ffc857;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px #323031;
    
}
.pop-up img{
    width: 50%;
    height: auto;
    margin: 10px;
    border: 1px solid #084c61;
    border-radius: 10px;
}
.pop-up button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 44px;
    height: auto;
}

.pop-up div{
    width: 75%;
    height: auto;
    margin: auto;
    color: #323031;
    font-weight: 700;
    padding: 10px;
    line-height: 2;
    font-size: .8rem;
}
.pop-up div a{
    text-decoration: none;
    color: #323031;
    font-weight: 700;
    padding: 10px;
    font-size: 1rem;
}

.closed-popup{
    display: none;
}