*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #effdff;
    font-weight: 400;
    color: #084c61;
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: "Playfair Display", serif;
}
header{
    display: flex;
    background-color: #15737d;
    color:#effdff;
    font-weight: 700;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;   
}
header img {
    border-radius: 10%;
    box-shadow: 1px 1px 10px #effdff;
    margin: 0 20px;    
}
nav{
    font-family: 'Playfair Display', serif;
    background-color: #084c61;
}
#menu{
    font-size: 2rem;
    background: none;
    border: none;
    color:#effdff;
    cursor: pointer;
    width: 44px;
    padding: .25rem 2vw;
    margin-left: 90%;
}
#menu::before{
    content: "\2630";
}

#menu.open::before{
    content:"\2716";
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav li{
    border: 1px solid #effdff;
}

nav li:hover {
    background-color: rgba(255,255,255,0.2);
}

ul.navigation li a{
    display: block;
    color:  #effdff;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
ul.navigation{
    display: none;
    list-style-type: none;
}
ul.navigation.open{
    display: block;
}
.active{
    background-color:#ffc857;
}
li.active.link a{
    color: #323031;
    font-weight: 700;
}
.hero{
    position: relative;
}
#hero-image{
    width: 100%;
    height: auto;
}
.hero-message{
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
    background-color: #323031;
    color: #effdff;
    text-align: center;
    padding: 10px;
}
#hero-button{
    background-color:#084c61;
    color:#effdff;
    padding: 10px 25px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #effdff;
}
.top-cards{
    display: block;
}
.small-cards{
    display: block;
    align-items: center;
    justify-items: center;
    margin: 20px;   
    text-align: center; 
    border-bottom: 3px solid #084c61;  
}
.small-cards h2{
    box-shadow: 1px 1px 5px #effdff;
    
}
.small-cards p{
    padding: 10px;
}
.small-cards img{
    margin: 10px;
}
#weather-card, #next-event-card {
    background-color: #084c61;
    color: #effdff;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    width: 75%; 
}

.next-content{
    display: block;
    align-items: center;
    justify-content:space-evenly;
}
.next-content a{
    color: #effdff;
}
.next-content img{
    width: 80%;
    height: auto;
    border-radius: 5px;
}
.next-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;
}
.business-cards{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}
.business-cards img{
    width: 90%;
    height: auto;
    border-radius: 5px;
}
.slide-card{
    position: relative;
    text-align: center;
}
.text{
    position: absolute;
    top: 65%;
    left: 30%;
    right: 30%;
    font-size: 2rem;
    color:#effdff;
    background-color:rgba(50, 48, 49, 0.5);
}
#darkBtn{
    position: absolute;
    top: 1rem;
    right: .5rem;
    width: 24px;
    cursor: pointer;
}

footer{
    display: block;
    background-color: #15737d;
    color: #effdff;
    padding: 20px;
    text-align: center;
}
.main-cards{
    display: block;
    padding-top: 1.5rem;
    border-top: 3px solid #084c61;
    margin:1.5rem;
}
.main-cards h2{
    padding: 5px;
    margin-left: 1rem;
}

.community-cards, .events-cards{
    display:block;   
}
.community-card, .event-card{
    margin: 10px;
    box-shadow: 1px 1px 5px #effdff;
    background-color:#ffc857;    
}
.event-card{
    background-color: #15737d;
    color: #effdff;

}
.community-card img, .event-card img{
    width: 100%;
}
.community-card h4, .event-card h4{
    text-align: center;
    padding: 5px;
}

.sidebar, .pictures{
    display: grid;
    grid-template-columns: 1fr;
}

.welcome-message{
    grid-row: 1/2;
    background-color: #ffc857;
    color:#323031;
    margin: 20px auto;
    width: 80%; 
    text-align: center;
    padding: 20px;
}
.weather{
    grid-row: 2/3;
    margin: 20px auto;
    border-radius: 5px;
    width: 80%; 
}
.demographics{
    grid-row: 3/6;
    background-color: #084c61;
    color: #effdff;
    margin: 20px auto;
    width: 75%;
    display: block;
}

.population, .employment, .mayor, .gdp, .education{
    margin: 0.7rem;
    width: auto;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: 0.5rem solid #effdff;
}
.demographics h5{
    font-size: 1.8rem;
    margin-bottom: 10px;
    border-bottom:1px solid #ffc857;
}
.pictures{
    margin-right: 20px;
}

.pictures img{
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}






