*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(253, 236, 184);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(31, 25, 95);
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 40, 154);
    color: rgb(253, 236, 184);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px;
}
header img {
    border-radius: 10%;
    box-shadow: 1px 1px 10px rgb(15, 12, 55);
    margin: 0 auto;    
}
header span{
    margin: 0 15px;
    text-align: center;
}
#darkBtn{
    position: absolute;
    top: 1rem;
    right: .5rem;
    width: 24px;
    background-color: rgb(253, 236, 184);
    cursor: pointer;
}
h1{
    font-size: 2rem;
}
nav{
    background-color: rgb(148, 0, 83);
}

#menu{
    font-size: 2rem;
    background: none;
    border: none;
    color: rgb(253, 236, 184);
    cursor: pointer;
    width: 44px;
    text-align: center;
    padding: .25rem 2vw;
    margin-left: 85%;

}
#menu::before{
    content: "\2630";
}
#menu.open::before{
    content:"\2716";
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li{
    border: 1px solid rgb(253, 236, 184);
}

nav li:hover {
    background-color: rgba(49, 40, 154, 0.5);
}

ul.navigation li a{
    display: block;
    color:  rgb(253, 236, 184);
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
ul.navigation{
    display: none;
    list-style-type: none;
}
ul.navigation.open{
    display: block;
}
.active {
    background-color:rgb(31, 25, 95);
}
.active a{
    color: rgb(253, 236, 184);
}

main h1{
    text-align: center;
    padding: .5rem;
    margin-top: 1rem;
}
.hero{
    position: relative;
}
.hero-picture img{
    width: 100%;
    height: auto;
}
.hero span{
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: rgba(255,255,255,0.5);
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: 1px 1px 15px rgb(15, 12, 55);
}

.cards {
    margin: 1rem 2vw;
}
.card {
    border: 1px solid rgb(31, 25, 95);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    background-color: rgb(253, 236, 184);
}
.card h2{
    background-color: rgb(49, 40, 154);
    color: rgb(253, 236, 184);
    display: block;
    text-align: center;
    padding: .75rem 0;
}
.card p, ul{
    padding: 10px;
    list-style-type: none;
}
.card p{
    text-align: center;
}
footer{
    display: block;
    background-color: rgb(49, 40, 154);
    color: rgb(253, 236, 184);
    font-weight: 700;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer p{
    margin: 10px;
}

main.dark{
    background-color: black;
}
main.dark h1{
    color:  rgb(253, 236, 184);
}
main.dark .card {
    background-color:black;
    color: rgb(253, 236, 184);
    border-color: rgb(253, 236, 184);
    box-shadow: 1px 1px 15px rgb(253, 236, 184);
}
main.dark a {
    color: rgb(253, 236, 184);
}
.map{
    display: block;
    margin: 10px auto;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
}