@media screen and (min-width: 45rem) {
    body{
        margin: auto;
    }
    
    header, footer{
        border: 1px solid rgb(253, 236, 184);
    }
    header{
        flex-direction: row;
        font-size: 2.5rem;
        align-items: center;
        justify-content:start;  
    }
    header img, header span{
        margin: 15px 15px;
    }
    
    ul.navigation, ul.navigation.open{
        display: flex;
        justify-content: center;        
    }


    .cards {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 50px;        
    }
    .card {
        box-shadow: 1px 1px 30px black;
        font-size: 1.2rem;
    }
    .card li {
        flex: 1 1 100%;    
    }
    
    #menu{
        display: none;
    }
    .hero span{
        font-size: 2.5rem;
    }

}